/YeusepesLowLevelTools/obj
/YeusepesModules/.vs
/YeusepesModules/obj
/YeusepesModules/bin
/YeusepesLowLevelTools/bin
YeusepesModules/AssemblyInfo.cs
YeusepesModules/AssemblyInfo.cs
YeusepesModules/AssemblyInfo.cs
